<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% if clear_session %}
<!-- let's avoid auto-userlogin if they've logged out -->
<script>
  if (navigator.credentials) {
    navigator.credentials.requireUserMediation();
  }
</script>
{% endif %}
<div class="page">
  <div id="toolbar">
    {% if session.username %}
      <span>Logged in as {{ session.username }}</span>
      {% if session.is_subscribed %}
      {% else %}
        <span><a href="/subscribe">Subscribe</a></span>
      {% endif %}
      <span><a href="/logout">Logout</a></span>
    {% else %}
      <button id="loginButton">Login</button>
      <script src="{{ url_for('static', filename='login.js') }}" async></script>
      <div class="modalBackground" id="loginDialogBackground">
        <div class="modalForeground" id="loginDialogForeground">
          <form method="POST" action="/login" id="loginForm">
              <label for="username">Username:</label> <input type="text" name="username" autocomplete="username">
              <label for="password">Password:</label> <input type="password" name="password" autocomplete="current-password">
              <input type="submit" value="Login!" />
          </form>
        </div>
      </div>
      <a href="/register">Register</a>
    {% endif %}
    </div>
  </div>
  <div id="messages">
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
  </div>
  <div id="content">
  {% block body %}
  {% endblock %}
  </div>
</div>
</body>
</html>
