<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="page">
  <div id="toolbar">
    {% if session.username %}
      <span>Logged in as {{ session.username }}</span>
      {% if session.is_subscribed %}
      {% else %}
        <span><a href="/subscribe">Subscribe</a></span>
      {% endif %}
      <button id="logoutButton">Logout</button>
    {% else %}
      <button id="loginButton" _toggle="loginDialogBackground">Login</button>
      <div class="modalBackground" id="loginDialogBackground">
        <div class="modalForeground" id="loginDialogForeground">
          <form method="POST" action="/login" id="loginForm">
              <label for="username">Username:</label> <input type="text" name="username" autocomplete="username">
              <label for="password">Password:</label> <input type="password" name="password" autocomplete="current-password">
              <input type="submit" value="Login!" />
          </form>
        </div>
      </div>
      <button id="registerButton" _toggle="registerDialogBackground">Register</button>
      <div class="modalBackground" id="registerDialogBackground">
        <div class="modalForeground" id="registerDialogForeground">
          <form method="POST" action="/register" id="registerForm">
            <h2>Account Information</h2>
              <div><label for="email">Email Address</label> <input type="email" name="email" autocomplete="email" required></input></div>
              <div><label for="username">Username</label> <input type="text" name="username" autocomplete="username" required></input></div>
              <div><label for="password">Password</label> <input type="password" name="password" autocomplete="new-password" required></input></div>
              <div><label for="password-confirm">Confirm Password</label> <input type="password" name="password-confirm" autocomplete="new-password" required></input></div>
            <input type="submit" value="Register!" />
          </form>
        </div>
      </div>
    {% endif %}
    <script src="{{ url_for('static', filename='login.js') }}" async></script>
  </div>
  <div id="messages">
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
  </div>
  <div id="content">
  {% block body %}
  {% endblock %}
  </div>
</div>
</body>
</html>
