{% extends "layout.html" %}
{% block body %}
{% if not showForm %}
<div>
  Would you like to subscribe to a trial membership to the sample times?  you can cancel any time and stuff.
  <form method="POST" action="?" id="productForm">
    <input type="hidden" name="form" value="productForm" />
    <select required name="product">
      <option value="us" selected>US</option>
    </select>
    <input type="submit" value="Submit">Register!</button>
  </form>
</div>
{% else %}
<div>
  Continue registration to recieve the Sample Times
  {% include "subscribeForm.html" %}
</div>
{% endif %}
{% endblock %}
